body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.drag-n-drop {
  border: #000 1px solid;
}

.critical {
  background: #dd3c14;
}

.high {
  background: #dd8107;
}

.medium {
  background: #c8dd2f;
}

.low {
  background: #E5E1EA;
}

/*.not-select {*/
  /*-ms-user-select:none;*/
  /*-webkit-user-select:none;*/
  /*-moz-user-select:-moz-none;*/
/*}*/

.circle{
  cursor: pointer;
  border-radius:100%;
  width:100px;
  height:50px;
  background-color:orange;

}

.box{
  width:150px;
  height:50px;
  background-color:green;
  display:none;
  position:absolute;
}

.btn {
  vertical-align: top;
}
.item-container {
  height: 60px;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}